@page
@using Microsoft.AspNetCore.Authorization
@model WebApp.Pages.ClientesPages.BancosModel
@{
}
@attribute [Authorize(Roles = "Cliente")]
<script src="~/js/pages/bancos.js"></script>
<h2>Bancos Registrados</h2>

<table border="1" cellpadding="8" cellspacing="0">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>País</th>
            <th>Código</th>
        </tr>
    </thead>
</table>   

<a asp-page="/ClientesPages/ClienteHome" class="back-btn">⬅️Volver</a>
