@page
@using Microsoft.AspNetCore.Authorization
@model WebApp.Pages.ClientesPages.ComerciosModel
@{
}
@attribute [Authorize(Roles = "Cliente")]
<script src="~/js/pages/cuentacomercio.js"></script>
<div class="    bs-docs-section">
    <div class="row">
        <legend>Comercios</legend>
        <div class="col-lg-12">
            <table id="tblcuentaComercio" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th>ID Cuenta</th>
                        <th>Nombre Usuario</th>
                        <th>Cédula Jurídica</th>
                        <th>Teléfono</th>
                        <th>Correo Electrónico</th>
                        <th>Dirección</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    <a asp-page="/ClientesPages/ClienteHome" class="back-btn">⬅️Volver</a>

</div>